{
    "amqp": "amqp://{{ .Env.AMQP_USERNAME }}:{{ .Env.AMQP_PASSWORD }}@{{ default .Env.AMQP_HOST .Env.RACKHD_HOST }}",
    "apiServerAddress": "{{ default .Env.API_HOST .Env.RACKHD_HOST }}",
    "apiServerPort": {{ default .Env.API_PORT "9080" }},
    "arpCacheEnabled": true,
    "authPasswordHash": "{{ .Env.RACKHD_PASSWORD_HASH }}",
    "authPasswordSalt": "{{ .Env.RACKHD_PASSWORD_SALT }}",
    "authTokenExpireIn": {{ default .Env.RACKHD_TOKEN_EXPIRES "86400" }},
    "authTokenSecret": "{{ .Env.RACKHD_TOKEN_SECRET }}",
    "authUsername": "{{ default .Env.RACKHD_USERNAME "admin" }}",
    "autoCreateObm": "{{ default .Env.RACKHD_CREATE_OBM "true" }}",
    "dhcpLeasesPath": "/var/lib/dhcp/dhcpd.leases",
    "dhcpGateway": "{{ default .Env.DHCP_GATEWAY .Env.RACKHD_HOST }}",
    "dhcpProxyBindAddress": "{{ default .Env.DHCP_PROXY_ADDRESS .Env.RACKHD_HOST }}",
    "dhcpProxyBindPort": 4011,
    "dhcpSubnetMask": "{{ default .Env.DHCP_NETMASK .Env.DHCP_ENV_DHCP_NETMASK }}",
    "fileServerAddress": "0.0.0.0",
    "fileServerPort": 9080,
    "fileServerPath": "/",
    "httpDocsRoot": "./build/apidoc",
    "httpEndpoints": [
      {
          "address": "0.0.0.0",
          "port": 9090,
          "httpsEnabled": false,
          "proxiesEnabled": true,
          "authEnabled": true,
          "routers": "northbound-api-router"
      },
      {
          "address": "0.0.0.0",
          "port": 9080,
          "httpsEnabled": false,
          "proxiesEnabled": true,
          "authEnabled": false,
          "routers": "southbound-api-router"
      }
    ],
    "httpFileServiceRoot": "./static/files",
    "httpFileServiceType": "FileSystem",
    "httpProxies": {{ default .Env.RACKHD_PROXIES "[]" }},
    "httpStaticRoot": "/opt/monorail/static/http",
    "minLogLevel": 0,
    "mongo": "mongodb://{{ default .Env.MONGO_USERNAME .Env.MONGO_ENV_MONGO_INITDB_ROOT_USERNAME }}:{{ default .Env.MONGO_PASSWORD .Env.MONGO_ENV_MONGO_INITDB_ROOT_PASSWORD }}@{{ default .Env.MONGO_HOST .Env.RACKHD_HOST }}/{{ default .Env.MONGO_DATABASE "rackhd" }}",
    "sharedKey": "qxfO2D3tIJsZACu7UA6Fbw0avowo8r79ALzn+WeuC8M=",
    "statsd": "127.0.0.1:8125",
    "syslogBindAddress": "0.0.0.0",
    "syslogBindPort": 514,
    "taskGraphEndpoint": {
        "address": "0.0.0.0",
        "port": 9030
    },
    "tftpBindAddress": "{{ default .Env.TFTP_HOST .Env.RACKHD_HOST }}",
    "tftpBindPort": 69,
    "tftpRoot": "./static/tftp",
    "wssSsl": false,
    "wssBindAddress": "0.0.0.0",
    "wssBindPort": 9100
}
